@model LabOOP.ViewModels.ChangePasswordViewModel

<form asp-action="ChangePassword" class="form-signin">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <h1 class="h3 mb-3 font-weight-normal Center">Change Password</h1>

    <div class="mt-2 Center">
        <input style="width:50%" asp-for="Password" id="IdPassword" type="password" class="form-control" placeholder="Password">
    </div>
    <span asp-validation-for="Password" class="text-danger field-validation-error Center"></span>

    <div class="mt-2 Center">
        <input style="width:50%" asp-for="NewPassword" id="IdNewPassword" type="password" class="form-control" placeholder="New Password">
    </div>
     <span asp-validation-for="NewPassword" class="text-danger Center" style="white-space: pre-wrap;"></span>

    <div class="mt-2 Center">
        <input style="width:50%" asp-for="ConfirmPassword" id="IdConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger Center" style="white-space: pre-wrap;"></span>
    <div class="checkbox mb-3 Center" style="margin-right:480px">
        <label>
            <input class="form-check-input" type="checkbox" onclick="myFunction()" /> Show password
        </label>
    </div>

    <div class="BtnCenter">
        <button asp-controller="Accounts" asp-action="ChangePassword" class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
        <button asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary btn-block mt-1" type="submit">Back to home page</button>
    </div>
</form>

<script>
    function myFunction() {
        var password = document.getElementById("IdPassword");
        var newPassword = document.getElementById("IdNewPassword");
        var confirm = document.getElementById("IdConfirmPassword");
        if (password.type === "password") {
            password.type = "text";
            newPassword.type = "text";
            confirm.type = "text";
        } else {
            password.type = "password";
            confirm.type = "password";
            newPassword.type = "password"
        }
    }
</script>
