@model LabOOP.ViewModels.UserViewModel
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User name: @Model.Username</h5>
                <p class="card-text">
                    Email: @Model.Email <br />
                    Name: @Model.Name <br />
                    Last Name: @Model.LastName
                </p>
            </div>
        </div>
    </div>
