@model LabOOP.ViewModels.LoginViewModel

<form asp-action="Login" class="form-signin">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <h1 class="h3 mb-3 font-weight-normal Center">Log in</h1>
    <div class="Center">
        <input style="width:50%" asp-for="Email" type="email" class="form-control" placeholder="Email" autofocus>
    </div>
    <span asp-validation-for="Email" class="text-danger Center"></span>

    <div class="mt-2 Center">
        <input style="width:50%" asp-for="Password" id="IdPassword" type="password" class="form-control" placeholder="Password">
    </div>
    <span asp-validation-for="Password" class="text-danger Center"></span>



    <div class="checkbox Center" style="margin-right:480px">
        <label>
            <input class="form-check-input" type="checkbox" onclick="myFunction()" /> Show password
        </label>
    </div>

    <div class="checkbox mb-3 Center" style="margin-right:480px">
        <label>
            <input class="form-check-input" asp-for="RememberMe" /> Remember me?
        </label>
    </div>


    <div class="BtnCenter">
        <button asp-controller="Accounts" asp-action="Login" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </div>
    <div class="BtnCenter">
        <button asp-controller="Accounts" class="btn btn-lg btn-success btn-block" type="button" onclick="location.href='@Url.Action("ForgotPassword", "Accounts")'">Forgot Password</button>
    </div>
</form>

<script>
    function myFunction() {
        var x = document.getElementById("IdPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>