@model LabOOP.Models.ProductsOrder

@{
    ViewData["Title"] = "DeleteProduct";
}
<h1>Виберіть кількість яку ви хочете прибрати</h1>

<form method="post" asp-action="ChangeProduct">
    <div class="form-group">
        <label for="count">Кількість:</label>
        <input type="number" id="count" name="count" class="form-control" min="1" max="@Model.Count" required>
    </div>
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Підтвердити</button>
</form>

<div>
    <a asp-action="ListOfProducts" asp-route-id="@Model.OrderId">Back to List</a>
</div>