@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>List of Roles</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Add Role</a>
<a href="@Url.Action("UserList")" class="btn btn-primary">List of User</a>